:root {
    --bg: linear-gradient(to bottom right, #7eee7e, #00ffff);
    --primary: #f8fafc;
    --secondary: #696969;
    --tertiary: #7eee7e;
    --quaternary: #00ffff;
    --shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --corner: 0.375rem;
}

.dark-theme {
    --primary: #18181b;
    --secondary: #ffffff;
    --shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.05), 0 4px 6px -4px rgba(255, 255, 255, 0.05);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: var(--bg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Navbar Section */
.navbar {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    box-shadow: var(--shadow);
}

.navbar .navbar-title a {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: var(--bg);
    color: transparent;
    font-size: 1.2rem;
}

.navbar .navbar-nav {
    display: flex;
}

.navbar .navbar-nav a {
    padding: 0 1rem;
    color: var(--secondary);
}

.navbar .navbar-nav a:hover {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: var(--bg);
    color: transparent;
}

.navbar-extra {
    display: flex;
    gap: 0.5rem;
}

.navbar .navbar-extra a {
    color: var(--secondary);
}

.navbar .navbar-extra a:hover {
    color: var(--tertiary);
}

#menu {
    display: none;
}

/* Top Section */
.top {
    padding-top: 5rem;
    box-shadow: var(--shadow);
}

.top .top-container {
    background-color: var(--primary);
    padding: 2rem 7%;
}

.top .top-container h1 {
    background-image: var(--bg);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 2rem;
    line-height: 1.6;
}

.top .top-container .skill {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
}

.top .top-container .skill i {
    background-image: var(--bg);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3.5rem;
}

/* About Section */
.about,
.social {
    padding: 6rem 7%;
    color: white;
}

.about h1,
.social h1 {
    text-align: center;
    font-size: 2rem;
    line-height: 1.6;
}

.about p {
    margin: auto;
    text-align: center;
    width: 60%;
}

/* Project Section */
.project,
.contact {
    box-shadow: var(--shadow);
    background-color: var(--primary);
    padding: 6rem 7%;
    color: var(--secondary);
}

.project h1,
.contact h1 {
    font-size: 2rem;
    line-height: 1.6;
    background-image: var(--bg);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.project .row {
    display: flex;
    gap: 1.5rem;
    padding: 2rem 0;
    overflow-x: auto;
}

.project .card {
    flex: 0 0 25rem;
    height: 25rem;
    border: 1px solid darkgrey;
    border-radius: var(--corner);
    padding: 1rem;
    overflow: hidden;
    cursor: pointer;
}

.project .card .card-img {
    width: 100%;
    height: 14rem;
    border-radius: var(--corner);
    overflow: hidden;
    margin-bottom: 1rem;
}

.project .card .card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project .card .card-title a {
    background-image: var(--bg);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.project .card .card-description {
    color: var(--secondary);
    padding-top: 0.5rem;
}

/* Social Section */
.social h1 {
    text-align: start;
}

.social .twitter-timeline {
    display: block;
    padding-top: 2rem;
    width: 40rem;
    margin: auto;
}

/* Contact Section */
.contact h1,
.contact p {
    text-align: center;
}

.contact .contact-form {
    width: 35rem;
    margin: auto;
}

.contact .contact-form input,
.contact .contact-form textarea {
    border: 1px solid var(--secondary);
    border-radius: var(--corner);
    display: block;
    width: 100%;
    padding: 0.75rem;
    color: 696969;
    margin: 1rem auto;
    font-size: 1em;
}

.contact .contact-form button {
    color: white;
    background-image: var(--bg);
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;
}

.contact .contact-form button:hover {
    opacity: 70%;
}

/* Footer Section */
footer {
    padding: 3rem;
}

footer .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer .social-link a {
    display: inline-block;
    height: 40px;
    width: 40px;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 100%;
    padding: 10px;
}

footer .social-link a svg {
    fill: currentColor;
}

footer .social-link a:hover {
    color: var(--quaternary);
    background-color: var(--primary);
}

footer p {
    color: var(--primary);
    margin-top: 1rem;
    text-align: center;
    font-weight: 700;
    font-size: 0.8rem;
}

footer p a {
    color: var(--primary);
    text-decoration: underline;
}

/* Media Query */
@media screen and (max-width: 767px) {
    /* Navbar Section */
    .navbar .navbar-nav {
        display: none;
        background-color: var(--primary);
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        position: absolute;
        top: 100%;
        right: 7%;
        box-shadow: var(--shadow);
    }

    .navbar .navbar-nav.active {
        display: block;
    }

    .navbar .navbar-nav a {
        display: block;
        padding: 0.2rem;
        padding-right: 2rem;
    }

    #menu {
        display: block;
    }

    /* Top Section */
    .top .top-container .skill i {
        font-size: 2.5rem;
    }

    /* About Section */
    .about p {
        width: 100%;
    }

    /* Project Section */
    .project .row {
        display: block;
    }

    .project .card {
        width: 100%;
        margin-bottom: 2rem;
        height: auto;
        overflow: visible;
    }

    .project .card .card-img {
        height: 50%;
    }

    /* Social Section */
    .social .twitter-timeline {
        width: 100%;
    }

    /* Contact Section */
    .contact h1,
    .contact p {
        text-align: start;
    }

    .contact .contact-form {
        width: 100%;
    }
}